*{
  margin: 0px;
  padding: 0px;
  font-size: 15px;
  font-weight: 100;
}
.container{
  position: fixed;
  top:0px;
  left: -250px;
  width:250px;
  height: 100%;
  background: #222;
  color:#fff;
  transition: .5s;


}

.openav{
  position: fixed;
  z-index: -1;
  top:14px;
  left: 25px;
  background: #222;
  color:#fff;
  padding: 10px 15px;

}

.closeNav{
  padding: 10px 15px;
  background: #3498db;
  color:#fff;
  text-align: center;

}

ul{
margin: 0px;
padding: 10px;


}
ul li{
list-style: none;

}

ul li a{

    text-decoration: none;
    display: block;
    padding: 10px 20px;
    color:#fff;
    background: #111;
    border-bottom: 1px solid #222;


}
